<div class="face-snap-card" [ngClass]="{ snapped: hasSnapped }">
    <a routerLink="/facesnaps" class="router-link-back">BACK</a>
    <h2>{{ facesnap.title | uppercase }}</h2>
    @if (facesnap.location) {
        <p>Location : {{ facesnap.location }}</p>
    } @else {
        <p>Location non spécifiée</p>
    }
    <img [src]="facesnap.imageURL" [alt]="facesnap.title"/>
    <p>{{ facesnap.description }}</p>
    <p>Créé le {{ facesnap.createdAt | date: 'd MMMM yyyy, à HH:mm' }}</p>
    <p>
        <button (click)="onSnap()">{{ textSnapButton }}</button>
        <span [ngStyle]="{ color: 'rgb(' + facesnap.snaps + ', 0, 0)' }">❤️ {{ facesnap.snaps }}</span>
    </p>
</div>