header {
  text-align: center;
  background-color: rgb(77 150 174);
  padding: 10px;
  padding-left: calc(100vw - 100%);
  box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 10px;
  margin-bottom: 20px;

  h1 {
    margin: 0;
    color: #ece4e4;
    font-size: 1.8rem;
    letter-spacing: 2px;
  }

  nav {
    margin-top: 10px;
  }

  a {
    margin: 0 15px;
    color: #e0e0e0;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
    
    &:hover {
      color: #11394c;
    }
  }

  .active {
    color: #195875;
    text-decoration: underline;
  }
}
